Generate README for {{ steps.model.output.title }} with layout {{ steps.layout.output }}.
FAKE_TEXT: # {{ steps.model.output.title }}

kind={{ steps.model.output.kind }}
layout={{ steps.layout.output }}
